<p id="notice"><%= notice %></p>

<div class="row-fluid">
	<div id="nabe-heading">
		<%= @nabe.name %>
	</div>
</div>		


<div class="row-fluid">
	<div id="nabe-summary">
		Safe, quiet, and diverse with good public schools, plenty of parks and a lively nightlife. The commute to Manhattan can take 40-50 minutes which keeps house values and rent prices low. 
	</div>
</div>		

<div class="row-fluid">
	<div class="span12">
	<div id="nabe-map">
		<iframe width='950' height='300' frameBorder='0' src='http://api.tiles.mapbox.com/v3/grigerny.<%= 		"#{@nabe.mapid}"%>/mm/zoompan.html'></iframe>
	</div>	
	</div>

</div>	

<div class="row-fluid">
	<div id="nabe-heading">
		Rank
	</div>
</div>

<div class="row-fluid">
	<div class="span3">
		<div id="nabe-category">
		Raise a family
		</div>		
	</div>
	
	<div class="span3">
		<div id="nabe-category">
			Nightlife 
		</div>		
	</div>	
	
	<div class="span3">
		<div id="nabe-category">
			Commute
		</div>		
	</div>
	
	<div class="span3">
		<div id="nabe-category">
			Park space
		</div>		
	</div>
</div>	

<div class="row-fluid">
	<div class="span3">
		<div id="nabe-category">
			Pet friendly
		</div>		
	</div>
	
	<div class="span3">
		<div id="nabe-category">
			Shopping
		</div>		
	</div>	
	
	<div class="span3">
		<div id="nabe-category">
			Safety
		</div>		
	</div>
	
	<div class="span3">
		<div id="nabe-category">
			Trendy
		</div>		
	</div>
</div>

<div class="row-fluid">
	<div id="commute-heading">
		Commute
	</div>
</div>

<div class="row-fluid">	
	<div class="span1">
		<div id="commute-transit-logo">
		<%= image_tag 'rail-underground-24.png', :size => "35x35" %>
		</div>
	</div>	
	
	<div class="span11">
		<div id="commute-transit-summary">
			Train to Midtown Manhattan: Approx. 50 Minutes
		</div>	
	</div>	
	
	
</div>