<div class="row-fluid">
	<div id="bikegang">
		<%= image_tag "bikegang.jpg" %>
	</div>
</div>	

<div class="row-fluid">
	<div id="photo-copyright">
	<%= link_to "Photo", 'http://www.flickr.com/photos/pixietart/4184841/sizes/z/in/photostream/' %> (<%= link_to "cc", "http://creativecommons.org/licenses/by-sa/2.0/" %>) flickr user <%= link_to "pixietart", "http://www.flickr.com/photos/pixietart/" %>
	</div>
</div>