// Place all the styles related to the start controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.heading{
	font-family: 'Josefin Slab', serif;
	font-size:36px;
}

#bar1{
	background-color:#E6E6E4;
	height:5px;
}
