// Place all the styles related to the start controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.heading{
	font-family: 'Josefin Slab', serif;
	font-size:36px;
}

#bar1{
	background-color:#E6E6E4;
	height:1px;
}

#photo-copyright{
	padding-bottom:40px;
	font-style:italic;
}

.nabe-link{
	font-family: 'Allerta Stencil', sans-serif;
	font-size:36px;
	margin-bottom:40px;
	color:#685450;
}

a.nabe-link{
	text-decoration:none;
}

