<!DOCTYPE html>
<html>
<head>
  <title>Nabehood</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">

	<div class="row-fluid">
		<div class="span12">
			<div class="heading">
				Nabehood.com
			</div>
		</div>
	</div>

	<div class="row-fluid">
		<div class="span12">
			<div id="bar1">
			</div>
		</div>	
	</div>	
	

<%= yield %>

</div>

</body>
</html>
